# === Системные файлы ===
.DS_Store
Thumbs.db

# === Собранные файлы и кеш ===
/dist/
/tmp/
/out-tsc/
/.angular/cache/
/bazel-out/

# === Node ===
/node_modules/
npm-debug.log*
yarn-error.log*

# === Покрытие ===
/coverage/

# === IDE ===
.idea/
.vscode/
*.iml

# === Файлы окружения ===
.env*

# === Project Structure Exporter ===
/structure_exports/
