<!-- верхняя панель навигации -->
<mat-toolbar color="primary">
  <button mat-button routerLink="/">Home</button>
  <button mat-button routerLink="/currencies">Currencies</button>
  <button mat-button routerLink="/fx-spot">FX Spot</button>
  <button mat-button routerLink="/sources">Sources</button>
  <button mat-button routerLink="/market-data-capturers">Market Data Capturers</button>
  <button mat-button routerLink="/source-plans">Source Plans</button>
</mat-toolbar>

<router-outlet></router-outlet>
