<mat-toolbar color="primary">
  <button mat-button routerLink="/">Home</button>
  <button
    mat-button
    type="button"
    class="nav-menu-trigger"
    [class.nav-menu-trigger--active]="instrumentsActive"
    [matMenuTriggerFor]="instrumentsMenu"
  >
    Instruments
    <mat-icon>expand_more</mat-icon>
  </button>
  <button
    mat-button
    type="button"
    class="nav-menu-trigger"
    [class.nav-menu-trigger--active]="sourcesActive"
    [matMenuTriggerFor]="sourcesMenu"
  >
    Sources
    <mat-icon>expand_more</mat-icon>
  </button>
  <button
    mat-button
    type="button"
    class="nav-menu-trigger"
    [class.nav-menu-trigger--active]="capturersActive"
    [matMenuTriggerFor]="capturersMenu"
  >
    Capturers
    <mat-icon>expand_more</mat-icon>
  </button>
  <button
    mat-button
    type="button"
    class="nav-menu-trigger"
    [class.nav-menu-trigger--active]="quoteMonitorActive"
    [matMenuTriggerFor]="quoteMonitorMenu"
  >
    Quote Monitor
    <mat-icon>expand_more</mat-icon>
  </button>

  <mat-menu #quoteMonitorMenu="matMenu">
    <button mat-menu-item routerLink="/quote-monitor/live-quotes">
      <mat-icon>monitoring</mat-icon>
      <span>Monitor</span>
    </button>
    <button mat-menu-item routerLink="/quote-monitor/instruments">
      <mat-icon>fact_check</mat-icon>
      <span>Instruments</span>
    </button>
  </mat-menu>

  <mat-menu #sourcesMenu="matMenu">
    <button mat-menu-item routerLink="/source-passports">
      <mat-icon>badge</mat-icon>
      <span>Passports</span>
    </button>
    <button mat-menu-item routerLink="/source-plans">
      <mat-icon>account_tree</mat-icon>
      <span>Source Plans</span>
    </button>
  </mat-menu>

  <mat-menu #capturersMenu="matMenu">
    <button mat-menu-item routerLink="/capturer-passports">
      <mat-icon>badge</mat-icon>
      <span>Passports</span>
    </button>
    <button mat-menu-item routerLink="/capturer-feeding">
      <mat-icon>rss_feed</mat-icon>
      <span>Capturer Feeding</span>
    </button>
  </mat-menu>

  <mat-menu #instrumentsMenu="matMenu">
    <button mat-menu-item routerLink="/instruments">
      <mat-icon>view_list</mat-icon>
      <span>Catalog</span>
    </button>
    <button mat-menu-item routerLink="/fx-spot">
      <mat-icon>currency_exchange</mat-icon>
      <span>FX Spot</span>
    </button>
    <button mat-menu-item routerLink="/currencies">
      <mat-icon>payments</mat-icon>
      <span>Currencies</span>
    </button>
  </mat-menu>
</mat-toolbar>

<router-outlet></router-outlet>
