# === Системные файлы ===
.DS_Store
Thumbs.db

# === Результаты сборки ===
*.class
backend/target/
domain/target/

# === Логи ===
*.log
backend/logs/

# === Frontend: собранные файлы и кеш ===
frontend/dist/
frontend/tmp/
frontend/out-tsc/
frontend/.angular/cache/

# === Node ===
frontend/node_modules/
frontend/npm-debug.log*
frontend/yarn-error.log*

# === Покрытие ===
frontend/coverage/

# === IDE ===
.idea/
*/.idea/
*.iml
frontend/.vscode/

# === Файлы окружения ===
frontend/.env*

# === Плагин Project Structure Exporter ===
backend/structure_exports/
frontend/structure_exports/

# === Данные инфраструктуры ===
infra/postgres-data/
infra/kafka-data/
