# === General OS cruft ===
Thumbs.db

# === Build output ===
/target/

# === Logs ===
*.log
/logs/

# === IDE (IntelliJ IDEA) ===
.idea
*.iml
out/

# === Project Structure Exporter ===
/structure_exports/