<div class="center-box registry-list-page">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Sources</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="dataSource" class="registry-table mat-elevation-z2">

        <ng-container matColumnDef="sourceCode">
          <th mat-header-cell *matHeaderCellDef>Code</th>
          <td mat-cell *matCellDef="let passport">{{ passport.sourceCode }}</td>
        </ng-container>

        <ng-container matColumnDef="displayName">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let passport">{{ passport.displayName }}</td>
        </ng-container>

        <ng-container matColumnDef="lifecycleStatus">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let passport">
            <span
              class="status-badge"
              [class.status-badge--retired]="passport.lifecycleStatus === 'RETIRED'"
            >
              {{ passport.lifecycleStatus }}
            </span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayed"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayed;"
          [class.retired-row]="row.lifecycleStatus === 'RETIRED'"
        ></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayed.length">No sources found.</td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
