<!-- toolbar с формой добавления -->
<form [formGroup]="form" class="toolbar">
  <mat-form-field appearance="outline">
    <mat-label>Code</mat-label>
    <input matInput formControlName="code" maxlength="3" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Country</mat-label>
    <input matInput formControlName="country" />
  </mat-form-field>

  <mat-form-field appearance="outline" style="width: 90px">
    <mat-label>Decimal</mat-label>
    <input matInput type="number" formControlName="decimal" />
  </mat-form-field>

  <button mat-raised-button color="primary"
          (click)="onAdd()" [disabled]="form.invalid">
    Add
  </button>
</form>

<!-- таблица валют -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z2">

  <!-- Code -->
  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef> Code </th>
    <td mat-cell        *matCellDef="let c"> {{ c.code }} </td>
  </ng-container>

  <!-- Name -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell        *matCellDef="let c"> {{ c.name }} </td>
  </ng-container>

  <!-- Country -->
  <ng-container matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef> Country </th>
    <td mat-cell        *matCellDef="let c"> {{ c.country }} </td>
  </ng-container>

  <!-- Decimal -->
  <ng-container matColumnDef="decimal">
    <th mat-header-cell *matHeaderCellDef> Dec </th>
    <td mat-cell        *matCellDef="let c"> {{ c.decimal }} </td>
  </ng-container>

  <!-- Actions -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let c">
      <button mat-icon-button color="warn" (click)="onDelete(c.code)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayed"></tr>
  <tr mat-row        *matRowDef="let row; columns: displayed"></tr>
</table>
