<div class="center-box">
  <h1 class="mat-headline-4">Provider Profiles</h1>
  <mat-card>
    <mat-card-content>
      <mat-slide-toggle (change)="onToggle()" color="primary">Show all status</mat-slide-toggle>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z2">

        <ng-container matColumnDef="providerCode">
          <th mat-header-cell *matHeaderCellDef>Code</th>
          <td mat-cell *matCellDef="let p">{{ p.providerCode }}</td>
        </ng-container>

        <ng-container matColumnDef="displayName">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let p">{{ p.displayName }}</td>
        </ng-container>

        <ng-container matColumnDef="instrumentTypes">
          <th mat-header-cell *matHeaderCellDef>Instrument Types</th>
          <td mat-cell *matCellDef="let p">{{ p.instrumentTypes.join(', ') }}</td>
        </ng-container>

        <ng-container matColumnDef="deliveryMode">
          <th mat-header-cell *matHeaderCellDef>Delivery</th>
          <td mat-cell *matCellDef="let p">{{ p.deliveryMode }}</td>
        </ng-container>

        <ng-container matColumnDef="accessMethod">
          <th mat-header-cell *matHeaderCellDef>Access</th>
          <td mat-cell *matCellDef="let p">{{ p.accessMethod }}</td>
        </ng-container>

        <ng-container matColumnDef="supportsBulkSubscription">
          <th mat-header-cell *matHeaderCellDef>Bulk</th>
          <td mat-cell *matCellDef="let p">{{ p.supportsBulkSubscription }}</td>
        </ng-container>

        <ng-container matColumnDef="minPollPeriodMs">
          <th mat-header-cell *matHeaderCellDef>Min Poll ms</th>
          <td mat-cell *matCellDef="let p">{{ p.minPollPeriodMs }}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let p">{{ p.status }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayed"></tr>
        <tr mat-row *matRowDef="let row; columns: displayed;"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
