/* Глобальные стили */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Запрещаем перенос строк в ячейках Angular Material */
.mat-header-cell,
.mat-cell,
.mat-mdc-header-cell,
.mat-mdc-cell {
  white-space: nowrap;
}

/* Разрешаем прокрутку таблиц по горизонтали */
.mat-table,
.mat-mdc-table {
  overflow-x: auto;
  display: block;
}

