<div class="center-box">
  <h1 class="mat-headline-4">Quotes Stream</h1>
  <mat-card>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="pairId">
        <th mat-header-cell *matHeaderCellDef>Pair ID</th>
        <td mat-cell *matCellDef="let q">{{q.pairId}}</td>
      </ng-container>
      <ng-container matColumnDef="bid">
        <th mat-header-cell *matHeaderCellDef>Bid</th>
        <td mat-cell *matCellDef="let q">{{q.bid}}</td>
      </ng-container>
      <ng-container matColumnDef="ask">
        <th mat-header-cell *matHeaderCellDef>Ask</th>
        <td mat-cell *matCellDef="let q">{{q.ask}}</td>
      </ng-container>
      <ng-container matColumnDef="ts">
        <th mat-header-cell *matHeaderCellDef>Time</th>
        <td mat-cell *matCellDef="let q">{{q.ts}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayed"></tr>
      <tr mat-row *matRowDef="let row; columns: displayed;"></tr>
    </table>
  </mat-card>
</div>
