<div class="center-box registry-list-page">
  <!-- карточка со списком паспортов процессов захвата -->
  <mat-card>
    <mat-card-header>
      <mat-card-title>Capturers</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="dataSource" class="registry-table mat-elevation-z2">

        <ng-container matColumnDef="capturerCode">
          <th mat-header-cell *matHeaderCellDef>Code</th>
          <td mat-cell *matCellDef="let passport">{{ passport.capturerCode }}</td>
        </ng-container>

        <ng-container matColumnDef="displayName">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let passport">{{ passport.displayName }}</td>
        </ng-container>

        <ng-container matColumnDef="registryStatus">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let passport">
            <span
              class="status-badge"
              [class.status-badge--retired]="passport.registryStatus === 'RETIRED'"
            >
              {{ passport.registryStatus }}
            </span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayed"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayed;"
          [class.retired-row]="row.registryStatus === 'RETIRED'"
        ></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayed.length">No capturers found.</td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
